# =========================
# Node / React
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build folders
dist/
build/
.next/
out/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log

# Cache
.cache/
.parcel-cache/
.eslintcache

# VS Code
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db

# =========================
# Python / FastAPI
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Python build
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Testing
.coverage
.pytest_cache/
htmlcov/

# Type checking
.mypy_cache/
.pyre/

# Jupyter
.ipynb_checkpoints/

# FastAPI
*.db
*.sqlite3

# =========================
# MongoDB
# =========================
data/
dump/

# =========================
# IDEs
# =========================
.idea/
*.swp
*.swo

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# Misc
# =========================
coverage/
temp/
tmp/